body{
    font-family: 'Titillium Web', sans-serif;
    border: 10px solid grey;
    padding: 20px;
    max-width: 700px;
    width: 80%;
    margin-left: 20px auto;
      
}
p{
  padding: 20px;
}
h1{
    margin-left: 20px;
}

.border{
    border-left: 3px solid grey;
    height:35;
    padding:20px;
}
H2{
    margin-left: 20px;
}

.date{
    color: red;
}
.borderr{
    border-left: 3px solid grey;
}
span{
    color: red;
}